RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^(.*\.(html))$ index\.php?site=$1    [L]
RewriteRule ^cadmin/view/(.*)$   /cadmin/index\.php?cadmin=fileManager&page=$1    [L]
RewriteRule ^files/(.*)$   /cadmin/image\.php?&file=$1    [L]
RewriteRule ^cadmin/(.*)$ /cadmin/index\.php?cadmin=$1    [L,QSA]
RewriteRule ^validate/(.*)$ /ep/index\.php?$1    [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.(png|gif|jpg|jpeg)$ image.php?path=$1.$2 [L]
RewriteRule ^strona/(.*)$   cms\.php?&site=$1     [L,QSA]
RewriteRule ^menu/(.*)$   cms\.php?&site=$1     [L,QSA]
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
EnableSendfile Off 